@mixin arrow($size, $color) {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-color: transparent;
    border-left: $size / 2 solid transparent;
    border-right: $size / 2 solid transparent;
    border-bottom: $size solid $color;
}

@mixin rotate($direction) {
    @if ($direction == right) {
        transform: rotate(90deg)
    } @else if ($direction == bottom) {
        transform: rotate(180deg)
    } @else if ($direction == left) {
        transform: rotate(270deg)
    }
}