@mixin square($length){
    width: $length;
    height: $length;
}
@mixin circle($length){
    border-radius: 50%;
    -ms-border-radius:50%;
    @include square($length);
}
@mixin rounded($radius){
    border-radius: $radius;
    margin-bottom: 10px;
}