$disabledColor: #d6d6d6;
$defaultColor: #00a2ff;
$textColor: #333;
$color: #fff;

// box variables
$margin: 0 auto;
$border: 2px solid $defaultColor;
$padding: 10px;
$width: 350px;
$height: 150px;
$radius: 5px;
