/**
    06. Exemplify transform: rotate(xdeg), scaleY(xdeg), skewX(xdeg), skewY(ydeg).
    Use also ms-transform for IE:9
*/

.box-model {
    /* margin:30px 20px 30px 20px; */
    /* border: 3px solid red; */
    padding: 20px;
    width: 200px;
    height: 300px;
    background-color: lightblue;
    color: darkorange;
    border: 2px solid red;
}

.transform-rotate {
    transform: rotate(45deg);
}
.transform-skew {
    transform: skewX(30deg);
}