/**
    02. Create a small card layout based on a $context variable using @if.
    Based on the $context you should change the layout type from disabled (displaying a grayed out layout) to enabled 
    (displaying a colorful, bottom red bordered, black texted card).
    Reuse the box model mixin previously created.
*/