@mixin card() {
    @include box-model($margin, $border, $padding, $width, $height);
    @include corners($radius);
    @include box-shadow(0, 10px, 10px, -10px, rgba(0, 0, 0, .6), null);
}

@mixin card-type($context) {
    @if ($context == disabled) {
        @include colorize($disabledColor, $textColor);
        border-color: $disabledColor;
        user-select: none;
    } @else if ($context == enabled) {
        @include colorize($color, $textColor);
        border-bottom-color: red;
    }
}