/**
    01. Examples for box model properties
    We will describe margin, border, padding, width, height.
*/

.box-model{
    
    margin: 30px 20px 30px 20px;
    border:1px solid red;
    padding: 20px;
    width: 200px;
    height: 300px;

    background:lightblue;
    color:darkorange;
}