@mixin mixin-card( $margin, $border, $padding, $width, $height, $border-radius, $context) {

    @include box-model($margin, $border, $padding, $width, $height);
    @include corners($border-radius);

    @if ($context == enable) {
        background-color: white;
        color: black;
        border-bottom: 4px solid red;

    } @else {
        background-color: gainsboro;
        color: gainsboro;
             
    }

    font-size: 16px;
    height: 200px;
}