@mixin base-button() {
    @include box-model($margin, $border, $padding, $width, $height);
    @include colorize($defaultColor, $color, true);
    @include corners($radius);
    
    border-color: $defaultColor;
    text-align: center;
    line-height: $height / 2;
    cursor: pointer;
}

@mixin apply-theme($type, $context) {
    @if ($context) {
        @if ($context == error) {
            border-color: $errorColor
        } @else if ($context == success) {
            border-color: $successColor
        } @else if ($context == disabled) {
            border-color: $disabledColor;
            cursor: not-allowed;
        } 
        @if ($type == solid) {
            @if ($context == error) {
                @include colorize($errorColor, $color, true);
            } @else if ($context == success) {
                @include colorize($successColor, $color, true);
            } @else if ($context == disabled) {
                @include colorize($disabledColor, $color, true);
            }
        } @else if ($type == outlined) {
            @if ($context == error) {
                @include colorize($color, $errorColor, true);
            } @else if ($context == success) {
                @include colorize($color, $successColor, true);
            } @else if ($context == disabled) {
                @include colorize($color, $disabledColor, true);
            }
        }
    } @else {
        @include colorize($color, $defaultColor, true);
        border-color: $defaultColor;
    }

}


