.mixin-button {
    @include mixin-button($backgroundColor, $color,
    $margin, $border, $padding, $width, $height, $border-radius);
}
.extend-button {
    @extend .mixin-button;
    font-weight: bold;
}
.light-button {
    @extend .mixin-button;
    background-color: gainsboro;
}
.dark-button {
    @extend .mixin-button;
    background-color: black;
}
.if-button-red {
    @include if-button( $color,
    $margin, $border, $padding, $width, $height, $border-radius, $context);
}
.if-button-yellow {
    @include if-button( $color,
    $margin, $border, $padding, $width, $height, $border-radius, yellow);
}
.if-button-blue {
    @include if-button( $color,
    $margin, $border, $padding, $width, $height, $border-radius, blue);
}
