/**
    01. Create a button mixin that includes the box model mixin previously created, a color mixin that contains background color and text color,
        a rounded corner mixin to add rounded corners and some default properties.
        Extend the mixin using @extend and create themes for the button.
        Create themes using @if, define a $context variable and change the theme based on the context.
*/

@import "_variables";
@import "mixins/_factories";
@import "mixins/_colors";
@import "mixins/_corners";
@import "mixins/_buttons";
@import "_styles";
