$mybackground: #fff;
$margin: 20px; 
$border: 2px solid #ddd; 
$padding: 20px; 
$mybox-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
$my-transition:0.3s;
$my-width:20%;
$context: false;
$mytextColor: #ddd;
$mycoloredbackground: rgb(240, 204, 204);
$borderColor: 2px solid red;
$mytextColorblack: black;

// $context: enabled;
$context: disabled;

 


