$defaultColor: #5845c2;
$disabledColor: #a1a1a1;
$errorColor: #ff5400;
$successColor: #10c500;
$outlinedColor: #333;
$color: #fff;

// box variables
$margin: 20px;
$border: 1px solid;
$padding: 10px;
$width: 200px;
$height: 50px;
$radius: 5px;
