/**
    01. Create a button mixin that includes the box model mixin previously created, a color mixin that contains background color and text color,
        a rounded corner mixin to add rounded corners and some default properties.
        Extend the mixin using @extend and create themes for the button.
        Create themes using @if, define a $context variable and change the theme based on the context.
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  text-align: center;
}

.button, .error-button, .success-button, .disabled-button, .outlined-button, .outlined-error-button, .outlined-success-button, .outlined-disabled-button {
  margin: 20px;
  border: 1px solid;
  padding: 10px;
  width: 200px;
  height: 50px;
  background-color: #5845c2;
  color: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border-radius: 5px;
  -ms-border-radius: 5px;
  border-color: #5845c2;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}

.button:hover, .error-button:hover, .success-button:hover, .disabled-button:hover, .outlined-button:hover, .outlined-error-button:hover, .outlined-success-button:hover, .outlined-disabled-button:hover {
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
}

.button:active, .error-button:active, .success-button:active, .disabled-button:active, .outlined-button:active, .outlined-error-button:active, .outlined-success-button:active, .outlined-disabled-button:active {
  background-color: #4534a0;
  color: #e6e6e6;
}

.error-button {
  border-color: #ff5400;
  background-color: #ff5400;
  color: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.error-button:hover {
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
}

.error-button:active {
  background-color: #cc4300;
  color: #e6e6e6;
}

.success-button {
  border-color: #10c500;
  background-color: #10c500;
  color: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.success-button:hover {
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
}

.success-button:active {
  background-color: #0c9200;
  color: #e6e6e6;
}

.disabled-button {
  border-color: #a1a1a1;
  cursor: not-allowed;
  background-color: #a1a1a1;
  color: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.disabled-button:hover {
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
}

.disabled-button:active {
  background-color: #888888;
  color: #e6e6e6;
}

.outlined-button {
  background-color: #fff;
  color: #5845c2;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border-color: #5845c2;
}

.outlined-button:hover {
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
}

.outlined-button:active {
  background-color: #e6e6e6;
  color: #4534a0;
}

.outlined-error-button {
  border-color: #ff5400;
  background-color: #fff;
  color: #ff5400;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.outlined-error-button:hover {
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
}

.outlined-error-button:active {
  background-color: #e6e6e6;
  color: #cc4300;
}

.outlined-success-button {
  border-color: #10c500;
  background-color: #fff;
  color: #10c500;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.outlined-success-button:hover {
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
}

.outlined-success-button:active {
  background-color: #e6e6e6;
  color: #0c9200;
}

.outlined-disabled-button {
  border-color: #a1a1a1;
  cursor: not-allowed;
  background-color: #fff;
  color: #a1a1a1;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.outlined-disabled-button:hover {
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.6);
}

.outlined-disabled-button:active {
  background-color: #e6e6e6;
  color: #888888;
}
/*# sourceMappingURL=index.css.map */