
@mixin mixin-button($backgroundColor, $color,
$margin, $border, $padding, $width, $height, $border-radius){
    font-size: 16px;
    @include color($backgroundColor, $color);
    @include box-model($margin, $border, $padding, $width, $height);
    @include corners($border-radius);
}

@mixin if-button( $color,
$margin, $border, $padding, $width, $height, $border-radius, $context) {

    font-size: 16px;
    color: $color;

    @include box-model($margin, $border, $padding, $width, $height);
    @include corners($border-radius);

    @if ($context == red) {
        background-color:rgba(244, 67, 54, 0.7);
    } @else if $context == yellow {
        background-color: rgba(255, 235, 59, 0.7) ;
    } @else {
        background-color: rgba(3, 169, 244, 0.7);
    }
}