/**
    Be more specific
    use specificity, not !important
*/
.box-model {
    /* margin:30px 20px 30px 20px; */
    /* border: 3px solid red; */
    padding: 20px;
    width: 200px;
    height: 300px;
    background-color: lightblue;
    color: darkorange;
}

.box-model-element {
    border: 3px solid green;
}

.big-container {
    width: 700px;
    height: 700px;
    border: 2px solid green;
    margin: 30px;
    padding: 30px;
}

.big-container .box-model{
    border: 3px solid red;
    /*
        NOT 
        .box-model{
            border: 3px solid red !important;
        }
    */
}
