$margin: 20px; 
$border: 2px solid blue; 
$padding: 20px; 
$mytransform: uppercase;
$myfontsize: 20px;
$mymargin: 10px; 
$myborder: 1px dashed red; 
$mypadding: 5px;
$backgroundColor: lightblue;
$color:blue;

