$margin: 20px; 
$border: 2px solid #ddd; 
$padding: 20px; 
$mywidth:20%;

$arrowWidth: 0px; 
$arrowHeight: 0px; 
$color: pink;
$size: 30px;
$border-transparent: 30px solid transparent;
$border-colored: 30px solid pink;


$property:rotate(180deg);
     


