/**
    Create a custom arrow mixin that will show an arrow based on a $context variable and @if.
    The $context should receive one of the following values: top/right/bottom/left.
    Create a rotation mixin to rotate the arrow and use it based on context.
*/