/**
    02. Ways of hiding elements
    display:none / visibility:hidden
*/

.box-model {
    margin:30px 20px 30px 20px;
    border: 3px solid red;
    padding: 20px;
    width: 200px;
    height: 300px;
    background-color: lightblue;
    color: darkorange;
}

.hidden {
    visibility: hidden;
}